@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  font-size: 10px;
  font-family: "Montserrat", "Verdana", sans-serif;
}

body {
  min-width: 320px;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #faf9f9;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 110%;
  font-family: "Montserrat", "Verdana", sans-serif;
  color: #222222;
}

.container {
  max-width: 1360px;
  margin: 0 auto;
}

.page-header {
  height: 60px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background-color: #faf9f9;
  -webkit-box-shadow: 0px 2px 4px #e9e9e9;
          box-shadow: 0px 2px 4px #e9e9e9;
  padding: 0 10px;
}

@media (min-width: 768px) {
  .page-header {
    height: 80px;
    padding: 0 40px;
  }
}

.page-header__wrapper {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-header__logo-wrapper {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

@media (min-width: 768px) {
  .page-header__logo-wrapper {
    width: 295px;
    margin-right: 50px;
  }
}

.page-header__logo {
  background-image: url("/assets/svg/logo-black.svg");
}

.page-header__main-content {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media (min-width: 768px) {
  .page-header__main-content {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.page-header__main-content, .page-header__ico-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.page-header__nav-wrapper {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

@media (min-width: 768px) {
  .page-header__nav-wrapper {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
}

.page-header__nav {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-header__seasons {
  display: none;
}

@media (min-width: 768px) {
  .page-header__seasons {
    width: 70px;
    height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
  }
}

.page-header__football-ico {
  margin-left: 10px;
  background-image: url("/assets/svg/football.svg");
}

.page-header__arrow-down-ico {
  margin-right: 5px;
  background-image: url("/assets/svg/arrow-down.svg");
}

.page-header__avatar-wrapper {
  display: none;
}

@media (min-width: 768px) {
  .page-header__avatar-wrapper {
    width: 40px;
    height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 59px 0 91px;
    border-radius: 50%;
    border: 2px solid #5a60e7;
  }
}

.page-header__avatar-img {
  width: 34px;
  height: 34px;
  background-image: url("/assets/img/avatar.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
}

.page-header__bag-wrapper {
  width: 32px;
  height: 32px;
  margin-right: 20px;
  position: relative;
  background-image: url("/assets/svg/bag.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

@media (min-width: 768px) {
  .page-header__bag-wrapper {
    width: 40px;
    height: 40px;
    margin-right: 0;
  }
}

.page-header__bag-circle {
  display: none;
}

@media (min-width: 768px) {
  .page-header__bag-circle {
    width: 18px;
    height: 18px;
    display: block;
    position: absolute;
    right: 4px;
    bottom: 4px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 12px;
    line-height: 110%;
    color: #fff;
    background-color: #86e3ce;
    border-radius: 50%;
    border: 2px solid #faf9f9;
  }
}

.content-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.page-footer {
  width: 100%;
  height: 320px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background: #222222;
  color: #fff;
  padding: 20px 10px 0 10px;
}

@media (min-width: 768px) {
  .page-footer {
    height: 400px;
    padding: 0 40px;
    padding: 50px 40px 0 40px;
  }
}

.page-footer__wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page-footer__title {
  padding-bottom: 20px;
  color: #acaff3;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 110%;
}

.page-footer__title_hide {
  display: none;
}

@media (min-width: 768px) {
  .page-footer__title_hide {
    display: block;
  }
}

.page-footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: 320px;
      flex-basis: 320px;
}

@media (min-width: 768px) {
  .page-footer__links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.page-footer__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 768px) {
  .page-footer__list {
    display: block;
  }
}

.page-footer__item {
  margin-bottom: 10px;
  cursor: pointer;
}

@media (min-width: 768px) {
  .page-footer__item {
    margin: 10px 0;
  }
}

.page-footer__item:hover {
  text-decoration: underline;
}

.page-footer__item:first-child {
  margin-top: 0;
}

.page-footer__link {
  color: #fff;
  text-decoration: none;
}

.page-footer__link:hover {
  text-decoration: underline;
}

.page-footer__link-ico {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-footer__logo {
  background-image: url("/assets/svg/logo-white.svg");
}

.page-footer__store-wrapper {
  padding: 40px 0 37px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 768px) {
  .page-footer__store-wrapper {
    padding: 30px 0 50px;
  }
}

.page-footer__store-link {
  margin-right: 10px;
}

.page-footer__ico {
  width: 92px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

@media (min-width: 768px) {
  .page-footer__ico {
    width: 120px;
    height: 30px;
  }
}

.page-footer__appstore {
  background-image: url("/assets/svg/store/appstore.svg");
}

.page-footer__googleplay {
  margin-left: 10px;
  background-image: url("/assets/svg/store/googleplay.svg");
}

.page-footer__phone-ico {
  display: none;
  margin-right: 10px;
  background-image: url("/assets/svg/contacts/phone.svg");
}

@media (min-width: 768px) {
  .page-footer__phone-ico {
    display: block;
  }
}

.page-footer__email-ico {
  display: none;
  margin-right: 10px;
  background-image: url("/assets/svg/contacts/email.svg");
}

@media (min-width: 768px) {
  .page-footer__email-ico {
    display: block;
  }
}

.page-footer__social_hide-desktop.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
}

@media (min-width: 768px) {
  .page-footer__social_hide-desktop.social {
    display: none;
  }
}

.page-footer__social_hide-mobile.social {
  display: none;
}

@media (min-width: 768px) {
  .page-footer__social_hide-mobile.social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

.page-footer__nav-wrapper {
  display: none;
}

@media (min-width: 768px) {
  .page-footer__nav-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-flex: 2;
        -ms-flex-positive: 2;
            flex-grow: 2;
  }
}

.page-footer__bottom {
  width: 100%;
  height: 51px;
  margin-top: 20px;
  padding-bottom: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
}

@media (min-width: 768px) {
  .page-footer__bottom {
    height: 71px;
    padding-bottom: 20px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    border-top: 1px solid #d6d7f9;
  }
}

.page-footer__text {
  padding-bottom: 5px;
  font-size: 1.2rem;
  line-height: 110%;
}

@media (min-width: 768px) {
  .page-footer__text {
    margin-bottom: 0;
  }
}

.button::before, .button::after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 6px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.button {
  width: 105px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  border-radius: 6px;
  border: none;
  font-size: 1.6rem;
  line-height: 110%;
  text-decoration: none;
  color: #faf9f9;
  text-align: center;
  -webkit-transition: hover 0.3s ease;
  transition: hover 0.3s ease;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  cursor: pointer;
  z-index: 10;
  background-clip: text;
  -webkit-background-clip: text;
}

@media (min-width: 768px) {
  .button {
    width: 137px;
    height: 40px;
  }
}

.button:active, .button:hover::after {
  opacity: 70%;
}

.button::before {
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  background: #5a60e7;
  background: -webkit-gradient(linear, right bottom, left top, color-stop(10%, #6171ff), color-stop(30%, transparent), color-stop(#2c2c2c), color-stop(70%, transparent), color-stop(90%, #5a60e7));
  background: linear-gradient(to left top, #6171ff 10%, transparent 30%, #2c2c2c, transparent 70%, #5a60e7 90%);
}

.button::after {
  left: 1px;
  top: 1px;
  bottom: 1px;
  right: 1px;
  z-index: -1;
  background: linear-gradient(238.37deg, rgba(90, 96, 231, 0.35) 6.34%, rgba(30, 30, 40, 0) 103.77%), #2c2c2c;
}

.logo {
  width: 120px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

@media (min-width: 768px) {
  .logo {
    width: 187px;
    height: 32px;
  }
}

.ico {
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-position: center;
}

.nav__list {
  display: none;
}

@media (min-width: 768px) {
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    list-style: none;
  }
}

.nav__item {
  margin-left: 50px;
  cursor: pointer;
}

.nav__item:first-child {
  margin-left: 0;
}

.nav__item:hover {
  text-decoration: underline;
}

.nav__link {
  color: #222222;
  text-decoration: none;
}

.nav__arrow-down::after {
  width: 24px;
  height: 24px;
  margin-left: 5px;
  content: url("/assets/svg/arrow-down.svg");
}

.hamburger {
  display: block;
}

@media (min-width: 768px) {
  .hamburger {
    display: none;
  }
}

.hamburger__btn {
  width: 24px;
  height: 23px;
  background-image: url("/assets/svg/burger.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  cursor: pointer;
  z-index: 1;
}

@media (min-width: 768px) {
  .hamburger__btn {
    display: none;
  }
}

.hamburger__list {
  display: none;
  position: fixed;
  top: 60px;
  left: 0;
  width: 100%;
  height: 180px;
  margin: 0;
  padding: 10px 10px;
  background-color: #faf9f9;
  list-style: none;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  font-size: 2rem;
  font-weight: 500;
}

.hamburger__list.hamburger__toggle {
  display: block;
}

.hamburger__item {
  margin: 20px 0;
  cursor: pointer;
}

.hamburger__link {
  color: #222222;
  text-decoration: none;
}

.hamburger__arrow-down::after {
  width: 24px;
  height: 24px;
  margin-left: 5px;
  content: url("/assets/svg/arrow-down.svg");
}

.social {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.social__item {
  margin-left: 15px;
}

.social__item:first-child {
  margin-left: 0;
}

.social__link {
  display: block;
}

.social__ico {
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.social__instagram {
  background-image: url("/assets/svg/social/instagram.svg");
}

.social__vk {
  background-image: url("/assets/svg/social/vk.svg");
}

.social__facebook {
  background-image: url("/assets/svg/social/facebook.svg");
}

.social__youtube {
  background-image: url("/assets/svg/social/youtube.svg");
}

.social__telegram {
  background-image: url("/assets/svg/social/telegram.svg");
}

.social__whatsapp {
  background-image: url("/assets/svg/social/whatsapp.svg");
}
/*# sourceMappingURL=style.css.map */