.nav-second {
	margin: 20px 0;
	overflow: scroll;

	@media (min-width: $tablet-width) {
		width: 210px;
		margin: 50px 0 0 20px;
	}

	&__list,
	&__sublist {
		list-style: none;
	}

	&__list {
		display: flex;

		@media (min-width: $tablet-width) {
			display: block;
		}
	}

	&__sublist {
		display: none;

		@media (min-width: $tablet-width) {
			display: block;
			margin-left: 20px;
			margin-top: 5px;
		}
	}

	&__item,
	&__subitem {
		position: relative;
		line-height: 140%;
		cursor: pointer;
	}

	&__item {
		flex-shrink: 0;
		margin: 0 10px;

		@media (min-width: $tablet-width) {
			margin: 0;

			&:last-child {
				margin-top: 50px;
			}
		}
	}

	&__link,
	&__sublink {
		margin: 5px 0;
		display: block;
		color: #222222;
		text-decoration: none;
	}

	&__link {
		min-width: 180px;
		height: 40px;
		padding: 5px 10px 5px 37px;
		background-color: #ffffff;
		border-radius: 5px;
		display: flex;
		justify-content: space-between;
		align-items: center;

		&:first-child {
			margin-top: 0;
		}
	}

	&__sublink {
		padding: 5px 10px 5px 10px;
	}

	&__link_active {
		color: #fff;
		background-color: #5a60e7;
		border-radius: 5px;

		@media (min-width: $tablet-width) {
			color: #5a60e7;
			background-color: #efeffd;
		}
	}

	&__ico::before {
		width: 24px;
		height: 24px;
		position: absolute;
		left: 7px;
		top: 7px;
		content: "";
		background-size: contain;
		background-repeat: no-repeat;
	}

	&__arrow-down-ico {
		width: 24px;
		height: 24px;
		background-repeat: no-repeat;
		background-position: center;
		background-image: url("/assets/svg/arrow-down.svg");
	}

	&__user-ico::before {
		background-image: url("/assets/svg/menu/chart.svg");

		@media (min-width: $tablet-width) {
			background-image: url("/assets/svg/menu/user.svg");
		}
	}

	&__calendar-ico::before {
		background-image: url("/assets/svg/menu/calendar.svg");
	}
	&__report-ico::before {
		background-image: url("/assets/svg/menu/report.svg");
	}
	&__history-ico::before {
		background-image: url("/assets/svg/menu/history.svg");
	}
	&__log-out-ico::before {
		background-image: url("/assets/svg/menu/log-out.svg");
	}
}
