.nav {
	&__list {
		display: none;

		@media (min-width: $tablet-width) {
			display: flex;
			justify-content: space-between;
			align-items: center;
			list-style: none;
		}
	}

	&__item {
		margin-left: 50px;
		cursor: pointer;

		&:first-child {
			margin-left: 0;
		}
		&:hover {
			text-decoration: underline;
		}
	}

	&__link {
		color: #222222;
		text-decoration: none;
	}

	&__arrow-down::after {
		width: 24px;
		height: 24px;
		margin-left: 5px;
		content: url("assets/svg/arrow-down.svg");
	}
}
