.aside {
	width: 100%;
	box-shadow: 0px 2px 8px #e9e9e9;

	@media (min-width: $tablet-width) {
		width: 295px;
		height: 800px;
		border-radius: 10px;
		background-color: #fff;
	}

	&__player {
		width: 100%;
		height: 155px;
		padding: 20px;
		color: #fff;
		background: linear-gradient(238.37deg, rgba(90, 96, 231, 0.35) 6.34%, rgba(30, 30, 40, 0) 103.77%), #2c2c2c;

		@media (min-width: $tablet-width) {
			width: 295px;
			height: 184px;
			border-radius: 10px;
		}
	}

	&__wrapper {
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	&__user {
		display: flex;
	}

	&__avatar-wrapper {
		width: 80px;
		height: 80px;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-shrink: 0;
		background-image: url("/assets/svg/ellipse.svg");
		background-repeat: no-repeat;
		background-position: center;
	}

	&__avatar-img {
		width: 70px;
		height: 70px;
		background-image: url("/assets/img/avatar.jpg");
		background-repeat: no-repeat;
		background-position: center;
		border-radius: 50%;
	}

	&__info-wrapper {
		margin-left: 10px;
	}

	&__ratio {
		display: flex;
		align-items: flex-start;
		font-size: 2rem;
		line-height: 110%;

		@media (min-width: $tablet-width) {
			font-size: 3rem;
		}
	}

	&__ratio-ellipse {
		width: 42px;
		height: 16px;
		margin-left: 3px;
		padding-left: 6px;
		display: flex;
		align-items: center;
		background: #5a60e7;
		border-radius: 10px;
		font-size: 1.2rem;
		line-height: 110%;

		@media (min-width: $tablet-width) {
			margin-left: 1px;
		}
	}

	&__ico {
		width: 12px;
		height: 12px;
		background-repeat: no-repeat;
		background-position: center;
	}

	&__ratio-up-ico {
		background-image: url("/assets/svg/ratio-up.svg");
	}

	&__name {
		font-size: 1.6rem;
		margin-top: 21px;

		@media (min-width: $tablet-width) {
			font-size: 2rem;
			margin-top: 3px;
		}
	}

	&__links {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
	}

	&__link {
		display: flex;
		font-size: 12px;
		color: #acaff3;

		&.aside__share {
			display: none;

			@media (min-width: $tablet-width) {
				display: flex;
			}
		}
	}

	&__share-wrapper {
		display: flex;
		flex-direction: column;

		@media (min-width: $tablet-width) {
			display: none;
		}
	}

	&__edit-ico {
		margin-top: 4px;
		margin-right: 5px;
		background-image: url("/assets/svg/edit.svg");
	}

	&__share-ico {
		margin-top: 4px;
		margin-left: 5px;
		background-image: url("/assets/svg/share.svg");
	}
}
