.ratio-section {
	width: 100%;
	overflow: scroll;
	background-color: #faf9f9;
	padding-bottom: 20px;
	border-radius: 0px 0px 10px 10px;

	@media (min-width: $tablet-width) {
		width: 1015px;
		box-shadow: 0px 2px 8px #e9e9e9;
		padding-bottom: 0;
	}

	&__table {
		width: 429px;
		margin: 0 10px;
		display: grid;
		grid-template-columns: auto auto auto auto auto auto;
		border-radius: 0px 0px 10px 10px;
		box-shadow: 0px 2px 8px #e9e9e9;

		@media (min-width: $tablet-width) {
			margin: 0;
			width: 1015px;
			grid-template-columns: 40% auto auto auto auto auto;
		}
	}

	&__cell {
		height: 42px;
		display: flex;
		align-items: center;
		padding-left: 10px;
		font-size: 1.4rem;

		&:nth-child(6n) {
			font-style: normal;
			font-weight: 600;
			color: #5a60e7;
		}

		&:nth-child(n + 2):nth-child(-n + 6) {
			padding-left: 0px;

			@media (min-width: $tablet-width) {
				padding-left: 10px;
			}
		}

		&:nth-child(n + 7):nth-child(12n + 1),
		&:nth-child(n + 7):nth-child(12n + 2),
		&:nth-child(n + 7):nth-child(12n + 3),
		&:nth-child(n + 7):nth-child(12n + 4),
		&:nth-child(n + 7):nth-child(12n + 5),
		&:nth-child(n + 7):nth-child(12n + 6) {
			background-color: #fff;
		}

		@media (min-width: $tablet-width) {
			height: 60px;
			padding-left: 20px;
			font-size: 1.6rem;
		}
	}

	&__title {
		display: flex;
		align-items: center;
		font-size: 1.2rem;
		font-style: normal;
		font-weight: normal;
		color: #909090;
		cursor: pointer;

		&:active {
			opacity: 70%;
		}
	}

	&__header {
		height: 27px;
		align-items: flex-end;
		background-color: #fff;
		border-bottom: 1px solid #d6d7f9;

		@media (min-width: $tablet-width) {
			height: 40px;
			padding-bottom: 5px;
		}
	}

	&__text_desktop {
		display: none;

		@media (min-width: $tablet-width) {
			display: block;
		}
	}

	&__text_mobile {
		display: block;

		@media (min-width: $tablet-width) {
			display: none;
		}
	}

	&__sort-ico {
		width: 12px;
		height: 12px;
		background-repeat: no-repeat;
		background-position: center;
		background-image: url("assets/svg/sort.svg");
	}

	&__sort-ico_invert {
		margin-top: 1px;
		-webkit-transform: rotate(180deg);
		-moz-transform: rotate(180deg);
		-ms-transform: rotate(180deg);
		-o-transform: rotate(180deg);
		transform: rotate(180deg);
	}
}
